/*==============================================================
Colors Css
==============================================================*/
/*==============================================================
Common Css
==============================================================*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Devonshire", cursive;
  font-family: "Fredericka the Great", cursive;
  font-family: "Montserrat", sans-serif;
  height: 5000px;
  overflow-x: hidden;
}

/*==============================================================
Fonts Css
==============================================================*/
h1 {
  font-family: "Fredericka the Great", cursive;
  font-size: 90px;
  color: #000;
}

h2 {
  font-family: "Fredericka the Great", cursive;
  font-size: 50px;
  color: #000;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: #000;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #000;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 30px;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

header .right .button {
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 10px 10px;
  border: none;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

header .right .button:hover {
  background-color: white;
}

header .right .button:hover a {
  color: black;
}

header .right .button a {
  color: white;
}

.choosenenjoy .button-second {
  background-color: #ffe001;
  text-decoration: none;
  color: black;
  padding: 10px 10px;
  border: none;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.choosenenjoy .button-second:hover {
  background-color: black;
}

.choosenenjoy .button-second:hover a {
  color: #ffe001;
}

.choosenenjoy .button-second a {
  color: black;
}

/*==============================================================
Nav Css
==============================================================*/
nav {
  z-index: 11;
}

/*==============================================================
Header Css
==============================================================*/
header {
  background: url(../img/hero-bg.png);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin-top: -350px;
  position: relative;
}

header img {
  margin-top: 220px;
}

header .right {
  height: 125vh;
  margin-top: 120px;
  width: auto;
}

header .right h2 {
  font-family: "Devonshire", cursive;
}

header .right .sub {
  border-bottom: 2px solid black;
  padding-bottom: 40px;
}

header .right .math h3 {
  font-family: "Fredericka the Great", cursive;
}

header .right .button {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 40px;
}

.spegeti {
  position: absolute;
  bottom: -220px;
  left: -30px;
}

/*==============================================================
Choose and enjoy Css
==============================================================*/
.choosenenjoy {
  padding: 100px;
}

.choosenenjoy .button-second {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.choosenenjoy .food-img {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/*==============================================================
Find Table Css
==============================================================*/
.book-table {
  padding: 100px 0;
}

.book-table .button-table {
  background-color: #ffe001;
  text-decoration: none;
  color: #fff;
  padding: 17px 10px;
  border: none;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.book-table .button-table:hover {
  background-color: #000;
}

.book-table .button-table:hover a {
  color: #ffe001;
}

.book-table .button-table a {
  color: black;
}
/*# sourceMappingURL=style.css.map */